    <!-- Google Tag Manager,SEO -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLFPDNT');</script>
    <meta name="google-site-verification" content="rwtFCfIkTs7e0gw2zT9v_fX5uRUoEkVY7Ji3nAU5LNA" />
    <!-- End Google Tag Manager -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <meta property="og:title" content="READYMATE::수시가쉬워진다"/>
    <meta property="og:description" content="대학생들의 진짜 데이터로 하는 셀프 입시 설계"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="naver-site-verification" content="32bb28b58583f11a9916ad58b32724d3b0374c77" />


    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!--KB-->
    <script _ajs_='48_5cdf162da6fce9ea' _ah_='1104104904'>
        function onPopAuthMark(key) {
            window.open('', 'AUTHMARK_POPUP', 'height=900, width=630, status=yes, toolbar=no, menubar=no, location=no');
            document.AUTHMARK_FORM.authmarkinfo.value = key;
            document.AUTHMARK_FORM.action = 'https://kiup.ibk.co.kr/uib/jsp/guest/esc/esc1030/esc103020/CESC302020_i.jsp';
            document.AUTHMARK_FORM.target = 'AUTHMARK_POPUP';
            document.AUTHMARK_FORM.submit();
        }
    </script>
    <FORM name='AUTHMARK_FORM' METHOD='POST'>
        <input type="hidden" name="authmarkinfo">
    </FORM>
    <script>$(function () {
        $("#ib_esc_btn").click(function () {
            onPopAuthMark('기업은행에서 받은 고유번호')
        })
    });</script>
    <!--기업은행안심이체 인증마크 적용 종료 -->
    <!--기기 환경에 맞춰 스케일조절 -->
    <meta name="format-detection" content="telephone=no">
    <script>
        function isMobile() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }
        if (isMobile()){
            //alert('is-mobile')
            $(document).ready(function (){
                var initial_scale = (screen.width / $('nav').width()).toFixed(4)-0.02;
                $('meta[name=viewport]').attr('content', '"width=device-width, initial-scale=' + initial_scale + ', maximum-scale=3.0, user-scalable="yes"');


            })
        }
    </script>
    <!--둥 -->

    {% block head %}
    {% endblock %}
    </head>

    <body style="padding-bottom: 30px;background:#FAFAFA">
    {% if token_receive %}
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background: #FAFAFA;width: 1194px;margin:auto;height: 36px;">
        <div style="width: 1164px; display: flex;justify-content: space-between; margin: auto;">
            <a class="navbar-item" href="/">
                <img src="../static/LOGO.png" style="height: 24px;margin-top: 0px">
            </a>
            <div style="display: flex;font-weight: 580;letter-spacing: 0.5px;width: 980px;justify-content: space-between">
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/search?ft=1'>학교생활기록부</a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/search?ft=2'>자기소개서</a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href="/search?ft=3">스토리</a>
                </div>
                <div style="position: relative;margin-left: 240px;padding-top: 2px">
                    <a class="navbar-item" onclick="$('#follow_modal').addClass('is-active')">팔로우</a>
                    {% if action_mentor %}
                        <div style="width: 10px;height: 10px;border-radius: 5px;background: #E94E58;border: white 2px solid;z-index: 1;position: absolute;right: 0px;top:10px"></div>
                    {% endif %}
                </div>
                <div onmouseleave="$('.alert_delete_btn').css({ 'visibility':'hidden' });setTimeout(function (){$('#alert_window').css({ 'visibility':'hidden' })},0)" style="width: max-content;position: relative;padding-top: 2px">
                    {% if my_alert|length != 0 %}
                        <div style="width: 10px;height: 10px;border-radius: 5px;background: #E94E58;border: white 2px solid;z-index: 1;position: absolute;right: 10px;top:10px"></div>
                    {% endif %}
                    <a class="navbar-item" style="white-space: nowrap" onclick="$('.alert_delete_btn').css({ 'visibility':'visible' });$('#alert_window').css({ 'visibility':'visible' })">알림&nbsp;&nbsp;
                        <i style="font-weight: bolder" class="fa fa-bell-o" aria-hidden="true"></i>
                    </a>
                    <div id="alert_window" style="transition-duration: 300ms;visibility: hidden;position: absolute;left: -135px">
                        <div class="div_up"></div>
                        <div class="alert_box box" style="position: relative;">
                        {% if (my_alert|length) > 0 %}
                            <button onclick="if (confirm('알림을 모두 삭제하시겠습니까? 삭제된 알림은 복구할 수 없습니다')){remove_all_alert()}" class="alert_delete_btn">
                                모두 지우기
                            </button>
                        <table style="margin-top: 12px;width:291px">
                            <th style="width:28px "></th>
                            <th style="width: 263px"></th>
                            {% for alert in my_alert|reverse %}
                            <tr style="cursor: pointer;height: 50px" onclick="check_alert('{{ status }}','{{ me_info.number }}','{{ alert.category }}','{{ alert.which_data }}','{{ alert.from_nickname }}')">
                                <td style="vertical-align: middle">
                                    <div style="width: 28px;height: 28px;overflow: hidden;border-radius: 14px;border: #f1f1f1 1px solid;margin: 4px 8px 0 0">
                                        <img src="../static/{{ alert.from_image }}"
                                             style="width:100%;height: 100%;object-fit: cover;">
                                    </div>
                                </td>
                                <td style="vertical-align: middle;font-size: 13px;{% if alert.from_nickname == '' %}color:#111111;font-weight: 600{% endif %}">
                                    {% if alert.which_data|length >10 %}
                                        "{{ alert.which_data[:10] }}..."
                                    {% elif (alert.which_data == '내') or (alert.which_data =='커뮤니티') or (alert.which_data =='자기소개서') or (alert.which_data =='스토리') or (alert.which_data =='생활기록부') %}
                                        {{ alert.which_data }}
                                    {% else %}
                                        "{{ alert.which_data }}"
                                    {% endif %}
                                    {{ alert.category }}
                                    {% if alert.from_nickname != '레디메이트' %}
                                        {{ alert.from_nickname }}님이
                                    {% endif %}
                                    {{ alert.action }}
                                </td>
                            </tr>
                            {% endfor %}
                            <script>
                                function check_alert(status, me_number, category,which_data,from_nickname) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/check_alert",
                                        data: {
                                            status : status,
                                            me_number : me_number,
                                            category : category,
                                            which_data : which_data,
                                            from_nickname : from_nickname
                                        },
                                        success: function (response) {
                                            window.location.href=`${response['url']}`
                                        }
                                    });
                                }
                            </script>
                        </table>
                        {% else %}
                            <p style="text-align: center;font-size: 14px;letter-spacing: 1px;color: #797979">새로운 알림이 없습니다</p>
                        {% endif %}
                        </div>
                        <script>
                            function remove_all_alert(){
                                $.ajax({
                                    type: "POST",
                                    url: "/remove_all_alert",
                                    data: {},
                                    success: function (response) {
                                        window.location.reload()
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
                <div class="dropdown is-right is-hoverable" style="height: 45px; margin-left: 15px">
                    <div style="width: 35px;height: 35px;overflow: hidden;border-radius: 17.5px;border: #f1f1f1 1px solid;margin: 4px 10px 0 0">
                        <img src="../static/{{ me_info.profile_pic_real }}"
                             style="width:100%;height: 100%;object-fit: cover;">
                    </div>
                    <div class="dropdown-trigger">
                        <div aria-haspopup="true" aria-controls="dropdown-menu3"
                             style="margin-top: 9px">
                            <span style="font-size: 15px;font-weight: 600">{{ me_info.nickname }}&nbsp;&nbsp;님&nbsp;</span>
                            <i class="fa fa-chevron-down" aria-hidden="true"
                               style="color: #595959; border: none; border-radius: 5px"></i>
                        </div>
                    </div>
                {% if status == 'mentor' %}
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                        <div class="mentor-menu" style="width: 176px;background-color: white;border-radius: 2px;box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.25);margin-top: -10px;padding: 0 6px 6px 6px">
                            <a href='/user_mentor/{{ me_info.nickname }}' class="dropdown-item" style="font-size: 15px;margin-bottom: 6px">
                                내 피드 가기
                            </a>

                            <a href='/mentor_mypage_info/{{ me_info.nickname }}' class="dropdown-item" style="font-size: 15px;margin-bottom: 6px">
                                마이페이지
                            </a>
                            <a onclick='sign_out()' class="dropdown-item" id="nav_drop_logout"
                               style="font-size: 15px;margin-bottom: 6px;">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp; 로그아웃
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="menti-menu" style="width: 176px;background-color: white;border-radius: 2px;box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.25);margin-top: -10px;padding: 0 6px 6px 6px">
                            <a href='/menti_mypage_mydata/{{ me_info.nickname }}?mt=2' class="dropdown-item" style="font-size: 15px;margin-bottom: 6px">
                                내 데이터
                            </a>
                            <a href='/menti_mypage_mystory/{{ me_info.nickname }}?mt=1' class="dropdown-item" style="font-size: 15px;margin-bottom: 6px">
                                내 스토리
                            </a>
                            <a href='/menti_mypage_info/{{ me_info.nickname }}' class="dropdown-item" style="font-size: 15px;margin-bottom: 6px">
                                마이페이지
                            </a>
                            <a onclick='sign_out()' class="dropdown-item" id="nav_drop_logout" style="font-size: 15px;margin-bottom: 6px;">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp; 로그아웃
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        </nav>
        <div class="modal" id="follow_modal">
            <div class="modal-background" style="background: #333333;opacity: 0.3;" onclick='$("#follow_modal").removeClass("is-active")'></div>
            <div class="modal-content"
                 style="width: 588px; max-height: 596px; height: max-content;overflow-y: scroll; border-radius: 4px;">
                <div class="box" style="position: relative; padding: 54px;background: #FAFAFA">
                    <p style="margin-bottom: 12px"><span style="font-size: 21px;">팔로우 중인 멘토</span>
                    <span style="margin-left: 12px">총 <span>{{ (action_mentor|length)+(nonaction_mentor|length) }}</span>명</span></p>
                    {% for mentor in action_mentor %}
                        <div class="follow_box" style="animation:0.2s cubic-bezier(0.1, 0, 0.6, 1) {{ loop.index0/7 }}s 1 normal backwards running fcEaNs !important;border-radius: 4px;background: #dedede;" onclick="click_action_mentor('{{ mentor.nickname }}')">
                            <div style="width: 40px;height: 40px;overflow: hidden;border-radius: 20px;border: none;">
                                <img src="../static/{{ mentor.profile_pic_real }}"
                                     style="width:100%;height: 100%;object-fit: cover;">
                            </div>
                            <p>{{ mentor.nickname }} · <span style="color: #595959;font-size: 14px">{{ mentor.univ }}</span>
                            </p>
                            <div class="red_dot"></div>
                        </div>
                    {% endfor %}
                    <script>
                        function click_action_mentor(nickname) {
                            $.ajax({
                                type: "POST",
                                url: "/click_action_mentor",
                                data: {nickname: nickname},
                                success: function (response) {
                                    window.location.href = `/user_mentor/${nickname}`
                                }
                            });
                        }
                    </script>
                    {% for mentor in nonaction_mentor %}
                        <div class="follow_box" style="animation:0.2s cubic-bezier(0.1, 0, 0.6, 1) {{ (loop.index0 + 5)/7 }}s 1 normal backwards running fcEaNs !important;border-radius: 4px;background: #efefef;" onclick="window.location.href='/user_mentor/{{ mentor.nickname }}'">
                            <div style="width: 40px;height: 40px;overflow: hidden;border-radius: 20px;border: none;">
                                <img src="../static/{{ mentor.profile_pic_real }}"
                                     style="width:100%;height: 100%;object-fit: cover;">
                            </div>
                            <p>{{ mentor.nickname }} · <span style="color: #595959;font-size: 14px">{{ mentor.univ }}</span>
                            </p>
                            <div class="red_dot is-hidden"></div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#follow_modal").removeClass("is-active")'></button>
        </div>
    {% else %}
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background: #FAFAFA;width: 1194px;margin:auto;height: 36px;">
            <div style="width: 1164px; display: flex;justify-content: space-between; margin: auto">
                <a class="navbar-item" href="/">
                    <img src="../static/LOGO.png" style="height: 24px;margin-top: 4px">
                </a>
                <div style="display: flex;font-weight: 580;letter-spacing: 0.5px;width: 700px;justify-content: space-between">
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/search?ft=1'>학교생활기록부</a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/search?ft=2'>자기소개서</a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href="/search?ft=3">스토리</a>
                </div>
                <div style="padding-top: 2px">
                    <a href='/readypass'><img src="../static/notLoginNav.png"
                                                  style="width: 100px;margin-bottom: -14px"></a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/login'>로그인</a>
                </div>
                <div style="padding-top: 2px">
                    <a class="navbar-item" href='/register'>회원가입</a>
                </div>
                </div>
            </div>
        </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer style="height: 175px; padding-top: 70px;display: flex; width: 1194px; margin: 140px auto 60px auto; border-top: 1px solid #767676">
    <div style="display: flex;">
        <div id="footer_left" style="width: 577px;margin-right: 120px">
            <b style="font-size: 12px;line-height: 21px">Readymate 레디메이트</b>
            <div id="footer_left_second" style="display: flex; justify-content: space-between">
                <div style="cursor: pointer;font-size: 12px;line-height: 21px"
                     onclick="window.open('https://readymate.notion.site/aa2584d2c3af4d83b165c73c8662150e')">회사소개
                </div>
                <div style="cursor: pointer;font-size: 12px;line-height: 21px"
                     onclick="window.open('https://readymate.notion.site/43b81d2da127443b8834c7f642b8dd4b')">일반 사용자 이용약관
                </div>
                <div style="cursor: pointer;font-size: 12px;line-height: 21px"
                     onclick="window.open('https://readymate.notion.site/e12f0990993946e99a7152f2c19ee235')">정보 제공자 이용약관
                </div>
                <div style="cursor: pointer;font-size: 12px;line-height: 21px"
                     onclick="window.open('https://readymate.notion.site/211119a3699645ee870c2be4ef09f24f')">개인정보취급방침
                </div>
            </div>
            <p style="margin-top: 28px">
            <p style="font-size: 12px;line-height: 21px">(주)레디메이트&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;대표 임기범&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;서울특별시
                서초구 강남대로61길 10, 6층 607호(서초동, 센터프라자)</p>
            <p style="font-size: 12px;line-height: 21px">통신판매업 신고번호 : 2021-서울서초-3123&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;사업자
                등록번호 : 292-87-02175&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;TEL : 02-6083-0770</p>
            </p>
        </div>
        <div id="footer_right" style="width: 437px; text-align: right">
            <br>
            <p style="font-size: 12px;line-height: 21px"><span style="cursor: pointer;font-size: 12px"
                                                               onclick="window.open('https://readymate.notion.site/3dbc766e8eda4792ae75b75c8bd09610')">멘토용 상세 가이드</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor: pointer;font-size: 12px"
                                                               onclick="window.open('https://readymate.notion.site/78b989750d024461a5c90533f85a96a2')">환불 정책</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="cursor: pointer;font-size: 12px"
                    onclick="window.open('https://readymate.notion.site/39914dc412af494ca378ce3ffbcb46e6')">제휴 문의</span>
            </p>
            <p style="font-size: 10px;color: #797979;line-height: 18px">모든 거래에 대한 책임과 열람, 교환, 환불, 민원등의 처리는 주식회사 레디메이트에서 진행합니다.<br>자세한 문의는 Email: help@readymate.kr으로 가능합니다.</p>

            <p style="font-size: 12px;line-height: 21px"><span style="cursor: pointer;font-size: 12px"
                                                                              onclick="window.open('https://www.instagram.com/readymate_official/')">Instagram</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="cursor: pointer;font-size: 12px"
                    onclick="window.open('https://www.facebook.com/readymateofficial/')">Facebook</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="cursor: pointer;font-size: 12px" onclick="window.open('https://pf.kakao.com/_yxcxjrs')">KakaoTalk</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="cursor: pointer;font-size: 12px" onclick="window.open('https://blog.naver.com/readymate')">Naver Blog</span>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor: pointer;font-size: 12px"
                                                                       onclick="window.open('https://www.youtube.com/channel/UCqIpL26iqOWWkNoaBtJlRqA')">YouTube</span>
            </p>
        </div>
        <a class="for_PC" style="padding: 0;cursor: pointer;margin-top: 24px;margin-left: 30px"
           href="javascript:onPopAuthMark('8c4ea07fb774f8fc8e2c6c2c56adc835')"><img
                src='https://kiup.ibk.co.kr/IBK/uib/ecb/img/KO/esc/sub/imgIbkMark.gif' alt='인증마크' border='0'/></a>

    </div>
</footer>
    <script>
        $(document).ready(function (){
            setTimeout(function (){
                var temp = `<div onclick="totop()" class="totop"
                             style="z-index: 2; cursor:pointer; position: fixed;bottom: 110px;right: 25px;box-shadow: rgb(0 0 0 / 15%) 0px 4px 6px 0px;animation:0.2s cubic-bezier(0.1, 0, 0.6, 1) 0.6s 1 normal backwards running fcEaNs !important;transition:box-shadow 0.2s ease-out 0s;border-radius: 31px; width: 62px;height: 62px;">
                            <img src="../../static/to_top.png" width="72px">
                        </div>`
                $('footer').after(temp)
            },400)
        })
    </script>
    <!-- Channel Plugin Scripts -->
    {% if token_receive %}
    <script>
            (function () {
                var w = window;
                if (w.ChannelIO) {
                    return (window.console.error || window.console.log || function () {
                    })('ChannelIO script included twice.');
                }
                var ch = function () {
                    ch.c(arguments);
                };
                ch.q = [];
                ch.c = function (args) {
                    ch.q.push(args);
                };
                w.ChannelIO = ch;

                function l() {
                    if (w.ChannelIOInitialized) {
                        return;
                    }
                    w.ChannelIOInitialized = true;
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                    s.charset = 'UTF-8';
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }

                if (document.readyState === 'complete') {
                    l();
                } else if (window.attachEvent) {
                    window.attachEvent('onload', l);
                } else {
                    window.addEventListener('DOMContentLoaded', l, false);
                    window.addEventListener('load', l, false);
                }
            })();
            ChannelIO('boot', {
                "pluginKey": "6674a760-acc4-4f4a-b498-1eecdc0e18ca", //please fill with your plugin key
            {% if me_info.phone %}
                "memberId": "{{ me_info.phone }}", //fill with user id
            {% else %}
                "memberId": "{{ me_info.email }}", //fill with user id
            {% endif %}
                "profile": {
                    "name": "{{ me_info.name }}", //fill with user name
                    "mobileNumber": "{{ me_info.phone }}", //fill with user phone number
                    "CUSTOM_VALUE_1": "VALUE_1", //any other custom meta data
                    "CUSTOM_VALUE_2": "VALUE_2"
                }
            });
        </script>
    {% else %}
    <script>
            (function () {
                var w = window;
                if (w.ChannelIO) {
                    return (window.console.error || window.console.log || function () {
                    })('ChannelIO script included twice.');
                }
                var ch = function () {
                    ch.c(arguments);
                };
                ch.q = [];
                ch.c = function (args) {
                    ch.q.push(args);
                };
                w.ChannelIO = ch;

                function l() {
                    if (w.ChannelIOInitialized) {
                        return;
                    }
                    w.ChannelIOInitialized = true;
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                    s.charset = 'UTF-8';
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }

                if (document.readyState === 'complete') {
                    l();
                } else if (window.attachEvent) {
                    window.attachEvent('onload', l);
                } else {
                    window.addEventListener('DOMContentLoaded', l, false);
                    window.addEventListener('load', l, false);
                }
            })();

            ChannelIO('boot', {
                "pluginKey": "6674a760-acc4-4f4a-b498-1eecdc0e18ca", //please fill with your plugin key
            });
        </script>
    {% endif %}
    </body>
    </html>