<!doctype html>
<html lang="en" style="overflow-x: auto;background: #FAFAFA">
<head>

    <!-- Webpage Title -->
    <title>{{ mentor_info.nickname }}님의 마이페이지</title>
    {% extends "layout_2.html" %}

    {% block head %}

    <script type="text/javascript">
        $(document).ready(function () {

        })

        function totop() {
            $("html, body").animate({scrollTop: 0}, 240);
        }

        function sign_out() {
            //로그아웃
            if (confirm('정말로 로그아웃 하시겠습니까?')){
                $.removeCookie('mytoken', {path: '/'});
                window.location.href="/login"
            }
        }

    </script>
    <style>
        .blur{
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(4px);
            height: 100vh;
            width: 50%;
        }

        .box{
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .box::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }

        .head {
            font-size: 21px;
            color: #595959;
            margin-bottom: 30px;
            cursor: pointer;
            transition-duration: 200ms;
        }

        .head:hover {
            font-size: 24px;
            font-weight: 700;
            color: #333333;
        }

        h2 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .grey_area {
            width: 480px;
            border-radius: 4px;border: #dedede 1px solid;background: white;
            padding: 18px 28px;
        }
    </style>
    {% endblock %}

    {% block content %}
    <div style="width: 1194px; margin: 90px auto 40px auto">
    <div style="display: flex; margin-bottom: 80px">
        <div style="width: 72px;height: 72px;overflow: hidden;border-radius: 36px;border: none;">
            <img src="../static/{{ mentor_info.profile_pic_real }}"
                 style="width:100%;height: 100%;object-fit: cover;">
        </div>
        <div style="margin-left: 30px; height: 72px;">
            <div style="color: #111111;font-size: 24px; margin-bottom: 11px">{{ mentor_info.nickname }}</div>
            <p style="border: none; color: #595959;width: 800px;font-size: 14px;">{{ mentor_info.phone }} /
                {% if mentor_info.email != '' %}
                {{ mentor_info.email }}
                {% else %}
                    <span style="font-size: 14px; color: #797979">등록된 이메일이 없습니다</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div style="display: flex;position: relative">
        <div style="width: 174px;margin-right: 40px">
            <div onclick="window.location.href='/mentor_mypage_dashboard/{{ mentor_info.nickname }}'" id="head_1" class="head">
                대시보드
            </div>
            <div onclick="window.location.href='/mentor_mypage_mydata/{{ mentor_info.nickname }}'" id="head_2" class="head">
                내 데이터
            </div>
            <div onclick="window.location.href='/mentor_mypage_mystory/{{ mentor_info.nickname }}'" id="head_3" class="head">
                내 스토리
            </div>
            <div onclick="window.location.href='/mentor_mypage_profit/{{ mentor_info.nickname }}'" id="head_4" class="head">
                수익 내역
            </div>
            <div onclick="window.location.href='/mentor_mypage_profit/{{ mentor_info.nickname }}'" id="head_4_2" class="head"
                 style="font-size: 16px;margin-top: -18px;font-weight: 700;color: #333333;">수익 내역
            </div>
            <div onclick="window.location.href='/mentor_mypage_account/{{ mentor_info.nickname }}'" id="head_4_1" class="head" style="font-size: 16px;margin-top: -18px">정산 설정</div>
            <div onclick="window.location.href='/mentor_mypage_communication/{{ mentor_info.nickname }}'" id="head_5" class="head">
                커뮤니케이션
            </div>
            <div onclick="window.location.href='/mentor_mypage_info/{{ mentor_info.nickname }}'" id="head_6" class="head">
                회원정보수정
            </div>
        </div>

        <div class="blur" style="position: absolute;width: 981.5px;height: 992px;right: 0px;top:0px;border-radius: 4px">
            <p style="text-align: center;line-height: 900px;font-size: 21px;color: #333333;font-weight: 600">서비스 준비중입니다</p>
        </div>
        <div style="width: 990px;display: flex;justify-content: space-between">
            <div>
                <div class="grey_area">
                    <h2>5월 수익</h2>
                    <p><span style="font-size: 21px">992939499</span>원</p>
                    <br>

                    <p style="color: #111111;margin-bottom: 6px">조회수</p>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">10</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">100</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">1000</span>회 조회</p>
                        </li>

                    </div>
                    <p style="text-align: right;margin-top: 8px">총 <span id="sum_1"></span>회 조회</p>
                    <br><br>

                    <p style="color: #111111;margin-bottom: 6px">개별 판매 금액</p>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                    </div>
                    <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                    <br><br>

                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p>조회수 수익(전체)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span></p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p>개별 판매 수익(전체)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span></p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p>세금(원천세)</p>
                            <p style="width: 168px;text-align: right">-₩<span class="num_1">500</span></p>
                        </li>
                    </div>
                    <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                </div>

                <div class="grey_area" style="margin-top: 30px">
                    <h2>누적 수익</h2>
                    <p><span style="font-size: 21px">992939499</span>원</p>
                    <br>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p><span>2021</span>. <span>3</span>.</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span></p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p><span>2021</span>. <span>4</span>.</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span></p>
                        </li>
                    </div>
                    <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                </div>
            </div>
            <div style="width: 480px;">
                <div class="grey_area">
                    <h2>이번 달 조회수</h2>
                    <p><span style="font-size: 21px">992939499</span>회</p>
                    <br>

                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">10</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">100</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">1000</span>회 조회</p>
                        </li>

                    </div>
                    <p style="text-align: right;margin-top: 8px">총 <span id="sum_1"></span>회 조회</p>
                    <br><br>

                    <h2>지난 24시간 동안의 조회수</h2>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">10</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">100</span>회 조회</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right"><span class="num_1">1000</span>회 조회</p>
                        </li>

                    </div>
                    <p style="text-align: right;margin-top: 8px">총 <span id="sum_1"></span>회 조회</p>
                    <br><br>

                    <h2>이번 달 개별 판매 현황</h2>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><span>학교생활기록부</span>(<span>닉네임닉네임닉네임닉네임</span>)</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">1000</span>(<span>100</span>건)</p>
                        </li>
                    </div>
                    <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}