<!doctype html>
<html lang="en" style="overflow-x: auto;background: #FAFAFA">
<head>

    <!-- Webpage Title -->
    <title>{{ mentor_info.nickname }}님의 마이페이지</title>
    {% extends "layout_2.html" %}

    {% block head %}

    <script type="text/javascript">
        $(document).ready(function () {
            var nowDate = new Date().toLocaleDateString()
            var month = nowDate.split('.')[1]
        })

        function totop() {
            $("html, body").animate({scrollTop: 0}, 240);
        }
        function sign_out() {
            //로그아웃
            if (confirm('정말로 로그아웃 하시겠습니까?')){
                $.removeCookie('mytoken', {path: '/'});
                window.location.href="/login"
            }
        }
    </script>
    <style>
        .blur{
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(4px);
            height: 100vh;
            width: 50%;
        }

        .box{
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .box::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }

        .head {
            font-size: 21px;
            color: #595959;
            margin-bottom: 30px;
            cursor: pointer;
            transition-duration: 200ms;
        }

        .head:hover {
            font-size: 24px;
            font-weight: 700;
            color: #333333;
        }

        h2 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .grey_area {
            width: 480px;
            border-radius: 4px;border: #dedede 1px solid;background: white;
            padding: 18px 28px;
        }
    </style>
    {% endblock %}

    {% block content %}
    <div style="width: 1194px; margin: 90px auto 40px auto">
    <div style="display: flex; margin-bottom: 80px">
        <div style="width: 72px;height: 72px;overflow: hidden;border-radius: 36px;border: none;">
            <img src="../static/{{ mentor_info.profile_pic_real }}"
                 style="width:100%;height: 100%;object-fit: cover;">
        </div>
        <div style="margin-left: 30px; height: 72px;">
            <div style="color: #111111;font-size: 24px; margin-bottom: 11px">{{ mentor_info.nickname }}</div>
            <p style="border: none; color: #595959;width: 800px;font-size: 14px;">{{ mentor_info.phone }} /
                {% if mentor_info.email != '' %}
                {{ mentor_info.email }}
                {% else %}
                    <span style="font-size: 14px; color: #797979">등록된 이메일이 없습니다</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div style="display: flex;position: relative">
        <div style="width: 174px;margin-right: 40px">
            <div onclick="window.location.href='/mentor_mypage_dashboard/{{ mentor_info.nickname }}'" id="head_1" class="head">
                대시보드
            </div>
            <div onclick="window.location.href='/mentor_mypage_mydata/{{ mentor_info.nickname }}'" id="head_2" class="head"
            >내 데이터
            </div>
            <div onclick="window.location.href='/mentor_mypage_mystory/{{ mentor_info.nickname }}'" id="head_3" class="head">내
                스토리
            </div>
            <div onclick="window.location.href='/mentor_mypage_profit/{{ mentor_info.nickname }}'" id="head_4" class="head">
                수익 내역
            </div>
            <div onclick="window.location.href='/mentor_mypage_profit/{{ mentor_info.nickname }}'" id="head_4_1" class="head" style="font-size: 16px;margin-top: -18px;font-weight: 700;color: #333333;">수익 내역</div>
            <div onclick="window.location.href='/mentor_mypage_account/{{ mentor_info.nickname }}'" id="head_4_2" class="head"
                 style="font-size: 16px;margin-top: -18px;">정산 설정
            </div>
            <div onclick="window.location.href='/mentor_mypage_communication/{{ mentor_info.nickname }}'" id="head_5" class="head">
                커뮤니케이션
            </div>
            <div onclick="window.location.href='/mentor_mypage_info/{{ mentor_info.nickname }}'" id="head_6" class="head">
                회원정보수정
            </div>
        </div>

        <div style="width: 990px;display: flex;justify-content: space-between">
            <div>
                <div class="grey_area">
                    <h2>지난 달 수익</h2>
                    <div id="lats_month_content">
                        <p><span style="font-size: 21px"></span>원</p>
                        <br>

                        <p style="color: #111111;font-weight: 600;margin-bottom: 6px">조회수</p>
                        <div id="div_for_1"
                             style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                            {% for product in monthly_mydata %}
                                {% if product.last_month_visit %}
                                    <li style="display: flex;justify-content: space-between">
                                        <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                            <span>{{ product.category }}</span>(<span>{{ product.title }}</span>)</p>
                                        <p style="width: 168px;text-align: right"><span
                                                class="last_month_visit">{{ product.last_month_visit }}</span> 회 조회</p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p id="p_1" style="text-align: right;margin-top: 8px">총 <span id="sum_1"></span>회 조회</p>
                        <script>
                            var last_month_visits = 0
                            var last_month_visit_nodes = document.querySelectorAll('.last_month_visit')
                            for (let i = 0; i < last_month_visit_nodes.length; i++) {
                                last_month_visits = last_month_visits + parseInt(last_month_visit_nodes[i].textContent)
                            }
                            $('#sum_1').text(last_month_visits)
                        </script>
                        <br><br>

                        <p style="color: #111111;font-weight: 600;margin-bottom: 6px">개별 판매 금액</p>
                        <div id="div_for_2"
                             style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                            {% for product in monthly_mydata %}
                                {% if product.last_buy %}
                                    <li style="display: flex;justify-content: space-between">
                                        <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                                            <span>{{ product.category }}</span>(<span>{{ product.title }}</span>)</p>
                                        <p style="width: 168px;text-align: right">₩ <span
                                                class="last_month_profit">{{ product.last_profit }}</span>
                                            ({{ product.last_buy }}건)</p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p id="p_2" style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                        <script>
                            var last_month_profits = 0
                            var last_month_profit_nodes = document.querySelectorAll('.last_month_profit')
                            for (let i = 0; i < last_month_profit_nodes.length; i++) {
                                last_month_profits = last_month_profits + parseInt(last_month_profit_nodes[i].textContent)
                            }
                            $('#sum_2').text(last_month_profits)
                        </script>
                        <br><br>

                        <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                            <li style="display: flex;justify-content: space-between">
                                <p>조회수 수익(전체)</p>
                                <p style="width: 168px;text-align: right">₩<span class="num_1"></span></p>
                            </li>
                            <li style="display: flex;justify-content: space-between">
                                <p>개별 판매 수익(전체)</p>
                                <p style="width: 168px;text-align: right">₩<span class="num_1"></span></p>
                            </li>
                            <li style="display: flex;justify-content: space-between">
                                <p>세금(원천세)</p>
                                <p style="width: 168px;text-align: right">-₩<span class="num_1"></span></p>
                            </li>
                        </div>
                        <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                    </div>
                </div>

            {% if profit_history %}
                <div class="grey_area" style="margin-top: 30px">
                    <h2>누적 수익</h2>
                    <p><span style="font-size: 21px"></span>원</p>
                    <br>
                    <div style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        {% for monthly in profit_history %}
                        <li style="display: flex;justify-content: space-between">
                            <p><span>{{ monthly.year }}</span>. <span>{{ monthly.month }}</span>.</p>
                            <p style="width: 168px;text-align: right">₩<span class="num_1">{{ monthly.total_profit }}</span></p>
                        </li>
                        {% endfor %}
                    </div>
                    <p style="text-align: right;margin-top: 8px">₩ <span id="sum_2"></span></p>
                </div>
            {% endif %}
            </div>
            <div style="width: 480px;">
                <div class="grey_area">
                    <h2>이번 달 조회수</h2>
                    <p id="p_by_3"><span id="this_month_total_visit" style="font-size: 21px"></span> 회</p>
                    <br>

                    <div id="div_for_3" style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        {% for product in monthly_mydata %}
                        {% if product.this_month_visit %}
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{ product.category }} ({{ product.title }})</p>
                            <p style="width: 168px;text-align: right"><span class="this_month_visit">{{ product.this_month_visit }}</span> 회 조회</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <p id="p_3" style="text-align: right;margin-top: 8px">총 <span id="sum_3"></span>회 조회</p>
                <script>
                    var this_month_visits = 0
                    var this_month_visit_nodes = document.querySelectorAll('.this_month_visit')
                    for (let i=0; i<this_month_visit_nodes.length; i++){
                        this_month_visits = this_month_visits + parseInt(this_month_visit_nodes[i].textContent)
                    }
                    $('#sum_3').text(this_month_visits)
                    $('#this_month_total_visit').text(this_month_visits)
                </script>

                    <br><br>

                    <h2>이번 달 개별 판매 현황</h2>
                    <div id="div_for_4" style="width: 423px;margin: auto;padding-bottom:15px;color: #595959;line-height: 28px;border-bottom: 1px solid #595959;">
                        {% for product in monthly_mydata %}
                        {% if product.this_buy %}
                        <li style="display: flex;justify-content: space-between">
                            <p style="width: 221px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{ product.category }} ({{ product.title }})</p>
                            <p style="width: 168px;text-align: right">₩ <span class="this_month_profit">{{ product.this_profit }}</span> ({{ product.this_buy }}건)</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <p id="p_4" style="text-align: right;margin-top: 8px">₩ <span id="sum_4"></span></p>
                <script>
                    var this_month_profits = 0
                    var this_month_profit_nodes = document.querySelectorAll('.this_month_profit')
                    for (let i=0; i<this_month_profit_nodes.length; i++){
                        this_month_profits = this_month_profits + parseInt(this_month_profit_nodes[i].textContent)
                    }
                    $('#sum_4').text(this_month_profits)
                </script>
                <script>
                    $(document).ready(function (){
                        if ($('#sum_1').text() == 0 && $('#sum_2').text() == 0){
                            $('#lats_month_content').empty()
                            $('#lats_month_content').text('지난달 수익정산 내역이 없습니다')
                            $('#lats_month_content').css({'color':'#797979'})
                        } else {
                            if ($('#sum_1').text() == 0) {
                                $('#sum_1').remove()
                                document.getElementById('p_1').textContent = '지난달 조회수 발생이력이 없습니다'
                                document.getElementById('p_1').style.textAlign = 'center'
                                document.getElementById('p_1').style.color = '#797979'
                                $('#div_for_1').remove()
                            }

                            if ($('#sum_2').text() == 0) {
                                $('#sum_2').remove()
                                document.getElementById('p_2').textContent = '지난달 개별 판매이력이 없습니다'
                                document.getElementById('p_2').style.textAlign = 'center'
                                document.getElementById('p_2').style.color = '#797979'
                                $('#div_for_2').remove()
                            }
                        }

                        if ($('#sum_3').text() == 0) {
                            $('#sum_3').remove()
                            document.getElementById('p_3').textContent = '이번달 조회수 발생이력이 없습니다'
                            document.getElementById('p_3').style.textAlign = 'center'
                            document.getElementById('p_3').style.color = '#797979'
                            $('#div_for_3').remove()
                            $('#p_by_3').remove()
                        }

                        if ($('#sum_4').text() == 0) {
                            $('#sum_4').remove()
                            document.getElementById('p_4').textContent = '이번달 개별 판매이력이 없습니다'
                            document.getElementById('p_4').style.textAlign = 'center'
                            document.getElementById('p_4').style.color = '#797979'
                            $('#div_for_4').remove()
                        }
                    })
                </script>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>

    </script>
    {% endblock %}