<!doctype html>
<html lang="en" style="overflow-x: auto;background: #FAFAFA">
<head>

    <!-- Webpage Title -->
    <title>READYMATE | 자소서작성</title>
    {% extends "layout_2.html" %}

    {% block head %}
    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
        }

        .navbar-item{font-weight: 600;font-size: 15px;transition-duration: 0.3s;}
        .navbar-item:hover {
            background-color: #FAFAFA;
            color: #577FF0;
        }
        .dropdown-item{transition-duration: 250ms}
        .dropdown-item:hover {
            letter-spacing: 2px;
        }
        #nav_drop_logout:hover{
            color: #F08080;
        }
        .div_up{
            width: 0px;
            height: 0px;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #dedede;
            margin-left: 158.5px;
        }
        .box{
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .box::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        .modal-content{
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .modal-content::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        button{
            opacity: 0.85;
            transition-duration: 300ms
        }
        button:hover{
            opacity: 1;
            letter-spacing: 2px
        }
        .alert_box{
            width: 341px;min-height: 75px;max-height: 340px;background: white;border: 1px #dedede solid;border-radius: 4px;
            box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.25);padding: 20px 25px 6px 25px;
            overflow-y: scroll;
        }
        .alert_delete_btn{background: none;border: white 1px solid;cursor: pointer;height: 20px;border-radius: 10px;line-height: 18px;color: #E94E58;font-size: 12px;position: absolute;right: 134px;top: 9px;transition-duration: 300ms}
        .alert_delete_btn:hover{font-weight: 600;border: #F08080 1px solid;}
        .follow_box{
            width: 480px;height: 70px;padding: 15px;background: #FAFAFA;border-radius: 4px;display: flex;
            position: relative;margin-bottom: 14px;
            cursor: pointer;
        }
        .follow_box >p {
            margin-left: 17px;line-height: 40px;text-overflow:ellipsis; width: 370px; overflow:hidden; white-space:nowrap
        }
        .red_dot{
            width: 12px;height: 12px;border-radius: 6px;background: #E94E58;
            position: absolute; right: 15px;top: 29px;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        select{background: none}

        .head {
            cursor:pointer; font-weight: 500;font-size: 21px; color: #595959;margin-bottom: 50px;
        }

        .grey_box {
            width: 684px;
            background:linear-gradient(100.08deg, #EFEFEF 5.16%, #F5F5F5 91.74%);
            border-radius: 4px;
            padding: 10px 30px 15px 30px;
            line-height: 29px;
            color: #595959;
        }
        input{background: none}

        textarea {
            width: 684px;
            height: 327px;
            margin-top: 15px;
            border: #dedede 1px solid;
            border-radius: 4px;
            padding: 10px 15px;
            resize: none;
        }

        .head {
            cursor: pointer;
            font-weight: 500;
            font-size: 21px;
            color: #595959;
            margin-bottom: 50px;
        }

        .black-box {
            width: 684px;
            height: 40px;
            border: black 1px solid;
            border-radius: 5px;
            padding: 7px 19px;
            margin-top: 10px;transition-duration: 300ms;
            color: black;cursor: pointer;
        }
        .black-box:hover{
            letter-spacing: 1px;
        }


        .tags > button {
            font-size: 14px;
            font-weight: 700;
            color: #577FF0;
            background-color: white;
            border: #577FF0 1.5px solid;
            height: 27px;
            border-radius: 13.5px;
            margin: 4.75px 6px;
        }

        .selected_tag {
            color: white;
            background-color: #577FF0;
        }

        .footer > div > p > a {
            font-size: 12px;
            color: black;
        }
    </style>
    <script type="text/javascript">
        var content_1;
        var content_2;
        var content_3;
        var content_4;
        var content_5;
        var answers = [];
        var viewAnswers = [];

        let sel_list = document.getElementsByClassName('selected_tag');
        $(document).ready(function () {
            $('#title_input').on('keyup', function () {
                if ($(this).val().length > 32) {
                    $(this).val($(this).val().substring(0, 32));
                    $('#title_cnt').html("(32 / 32)");
                }
                $('#title_cnt').html("(" + $(this).val().length + " / 32)");
            })

            $('#1_textarea').on('keyup', function () {
                if ($(this).val().length > 1000) {
                    $(this).val($(this).val().substring(0, 1000));
                    $('#1_cnt').html("(1000 / 1000)");
                }
                $('#1_cnt').html("(" + $(this).val().length + " / 1000)");
            })

            $('#2_textarea').on('keyup', function () {
                if ($(this).val().length > 1000) {
                    $(this).val($(this).val().substring(0, 1500));
                    $('#2_cnt').html("(1500 / 1500)");
                }
                $('#2_cnt').html("(" + $(this).val().length + " / 1500)");
            })

            $('#3_textarea').on('keyup', function () {
                if ($(this).val().length > 1000) {
                    $(this).val($(this).val().substring(0, 1000));
                    $('#3_cnt').html("(1000 / 1000)");
                }
                $('#3_cnt').html("(" + $(this).val().length + " / 1000)");
            })

            $('#4_textarea').on('keyup', function () {
                $('#4_cnt').html("(" + $(this).val().length + " 자)");
            })

        })

        window.onbeforeunload = function () {
            return "정말로 페이지를 벗어나시겠습니까? 입력한 데이터는 저장되지 않습니다."
        }

        var year;
        var month;
        var date;
        var hour;
        var minute;
        var second;

        function getTime() {
            var nowDate = new Date().toLocaleDateString()
            var nowTime = new Date().toLocaleTimeString()

            year = nowDate.split('.')[0] + '년 '
            month = nowDate.split('.')[1] + '월 '
            date = nowDate.split('.')[2] + '일 '
            hour = nowTime.split(':')[0] + '시 '
            minute = nowTime.split(':')[1] + '분 '
            second = nowTime.split(':')[2] + '초'
        }

        function totop() {
            $("html, body").animate({scrollTop: 0}, 240);
        }

        function tab_to(i) {
            $("html, body");
            $('#tab_list').animate({left: `-${(i - 1) * 684}`}, 300, 'swing');
            $('#tab_4_btn_sub').addClass('is-hidden');
            $('.head').css({'font-size': '21px', 'font-weight': '500'});
            $(`#head_${i}`).css({'font-size': '24px', 'font-weight': '700'});
            $('#recordpaper_view').addClass('is-hidden');
            $('#tab_4_btn_sub').addClass('is-hidden');
            if (i==1){
                $('#tab_slider').css({'height': '910'})
            }
            else if (i==3){
                $('#tab_slider').css({'height': '910'})
            }
            else if (i == 4) {
                $('#tab_slider').css({'height': '710'})
            }

        }

        function next_tab(i) {
            $("html, body").animate({scrollTop: 220}, 0);
            $('#tab_list').animate({left: "-=684"}, 300, "swing")
            if (i == 1) {
                $('#tab_slider').css({'height': '1090'})
            } else if (i == 2) {
                $('#tab_slider').css({'height': '2330'})
            } else if (i == 3) {
                $('#tab_slider').css({'height': '710'})
            }

            $(`#head_${i}`).css({'font-size': '21px', 'font-weight': '500'});
            $(`#head_${i + 1}`).css({'font-size': '24px', 'font-weight': '700'})
        }

        function fill_title() {
            var text = $('#title_input').val().toString()
            $('#title').text(text)
            if (text) {
                $('#title_btn').css({'background': 'white', 'color': '#577FF0'})
                $('#title_btn').text('수정')
            } else {
                $('#title_btn').css({'background': '#577FF0', 'color': 'white'})
                $('#title_btn').text('입력')
            }

        }

        function comment_delete(i) {
            var text = $(`#highlight_${i}`)[0]['innerText']
            console.log(text)
            $(`#highlight_${i}`)[0]['outerHTML'] = text
            $(`#comment_${i}`).remove()
            ///디비에서도 삭제
            alert('메모 및 하이라이트가 삭제되었습니다')
        }

        $('input:radio[name="num4"]').attr("checked", true);


        var selectWhichUniv;
        var selectedUniv;
        var selectedMajor;
        var selectedType;
        var selectedNumber;
        function select_univ(i) {
            var length = document.getElementById('accepted_list').childElementCount;
            for (let k = 1; k < length + 1; k++) {
                $(`#accepted_${k}`).css({'color': 'black', 'border': 'black 1px solid'})
            }
            $(`#accepted_${i}`).css({'color': '#577FF0', 'border': '#577FF0 1px solid'})
            var obj = document.querySelectorAll('.black-box')[i - 1].innerText
            var selected_univ = document.querySelectorAll('.selected_univ')[i - 1].innerText
            var selected_major = document.querySelectorAll('.selected_major')[i - 1].innerText
            var selected_type;
            if (document.querySelectorAll('.selected_type').length == 0){
                selected_type = ''
            } else {
                selected_type = document.querySelectorAll('.selected_type')[i - 1].innerText
            }
            var selected_number = document.querySelectorAll('.selected_number')[i - 1].innerText
            console.log(selected_univ)
            selectWhichUniv = obj;
            selectedUniv = selected_univ;
            selectedMajor = selected_major;
            selectedType = selected_type;
            selectedNumber = selected_number;
            console.log(selectWhichUniv);
            console.log(selectedUniv);
            console.log(selectedMajor);
            console.log(selectedType);
            console.log(selectedNumber);
        }

        function save_res_post() {
            var warningArray = [];
            var resume_desc = quill.container.firstElementChild.textContent
            var check = $('input:checkbox[id="tab_1_checkbox"]:checked').val();
            if ($('#title_input').val() != '' && check == 'on' && selectWhichUniv != undefined) {
                $('#verify_tab_1').css({'visibility': 'visible'})
            } else {
                $('#verify_tab_1').css({'visibility': 'hidden'})
                warningArray.push("기본정보 탭이 다 입력되지 않았습니다")
            }
            ///1탭 브이체크표시 만드는 if

            if (resume_desc != '') {
                $('#verify_tab_2').css({'visibility': 'visible'})
            } else {
                $('#verify_tab_2').css({'visibility': 'hidden'})
                warningArray.push("데이터 설명 탭이 다 입력되지 않았습니다")
            }
            ///2탭 브이체크표시 만드는 if

            var upload_4_check;
            if ($('input:radio[id="radio_1"]:checked').val()) {
                upload_4_check = 'radio_1'
            } else if ($('input:radio[id="radio_2"]:checked').val()) {
                upload_4_check = 'radio_2'
            } else if ($('input:radio[id="radio_3"]:checked').val()) {
                upload_4_check = 'radio_3'
            } else if ($('input:radio[id="radio_4"]:checked').val()) {
                upload_4_check = 'radio_4'
            } else {
                upload_4_check = undefined
            }
            if ($('#1_textarea').val() && $('#2_textarea').val() && $('#3_textarea').val() && (upload_4_check == 'radio_4' || (upload_4_check != 'radio4' && upload_4_check != undefined && $('#4_textarea').val() && $('#4_input').val()))) {
                $('#verify_tab_3').css({'visibility': 'visible'})
            } else {
                $('#verify_tab_3').css({'visibility': 'hidden'})
                warningArray.push("데이터 업로드 탭이 다 입력되지 않았습니다")
            }
            ///3탭 브이체크표시 만드는 if

            if ($('#price_input').val()) {
                $('#verify_tab_4').css({'visibility': 'visible'})
            } else {
                $('#verify_tab_4').css({'visibility': 'hidden'})
                warningArray.push("가격설정 탭이 다 입력되지 않았습니다")
            }
            ///4탭 브이체크표시 만드는 if

            var check_1 = $('#verify_tab_1').css('visibility');
            var check_2 = $('#verify_tab_2').css('visibility');
            var check_3 = $('#verify_tab_3').css('visibility');
            var check_4 = $('#verify_tab_4').css('visibility');

            if (check_1 == 'visible' && check_2 == 'visible' && check_3 == 'visible' && check_4 == 'visible') {
                fill_title()
                let quillHTML = quill.container.firstElementChild.innerHTML
                //위에는 퀼 안에 들어간 HTML코드이고, 아래는 실제 텍스트 내용. 아래 변수는 내용이 입력되었는지의 여부를 검토하기 위해.

                let resume_title = $("#title_input").val()
                let resume_select = selectWhichUniv
                let resume_univ = selectedUniv
                let resume_major = selectedMajor
                let resume_type = selectedType
                let resume_number = selectedNumber
                let resume_1 = $("#1_textarea").val()
                let resume_2 = $("#2_textarea").val()
                let resume_3 = $("#3_textarea").val()
                var resume_4_1 = $("#4_input").val()
                let resume_4_2 = upload_4_check
                var resume_4_3 = $("#4_textarea").val()
                if (upload_4_check == 'radio_4'){
                    resume_4_1 = ''
                    resume_4_3 = ''
                }
                let resume_price = $("#price_input").val()
                var time = '{{ time }}'

                let form_data = new FormData()
                form_data.append("resume_title_give", resume_title)
                form_data.append("resume_univ_give", resume_univ)
                form_data.append("resume_major_give", resume_major)
                form_data.append("resume_type_give", resume_type)
                form_data.append("resume_number_give", resume_number)
                form_data.append("resume_desc_give", quillHTML)
                form_data.append("resume_1_give", resume_1)
                form_data.append("resume_2_give", resume_2)
                form_data.append("resume_3_give", resume_3)
                form_data.append("resume_4_1_give", resume_4_1)
                form_data.append("resume_4_2_give", resume_4_2)
                form_data.append("resume_4_3_give", resume_4_3)
                form_data.append("resume_price_give", resume_price)
                form_data.append("resume_time_give", time)
                console.log(resume_title, resume_select, resume_univ, resume_major, resume_type, resume_number, quillHTML,  resume_1, resume_2, resume_3, resume_4_1, resume_4_2, resume_4_3, resume_price, time, form_data)
                $.ajax({
                    type: "POST",
                    url: `/resume_save/{{ mentor_info.number }}/{{ time }}`,
                    data: form_data,
                    cache: false,
                    contentType: false, processData: false,
                    success: function (response) {
                        window.onbeforeunload = null
                        {% if resume_info.release == "hide" %}
                            alert('자소서 업로드가 완료되었습니다. 자소서페이지에 들어와 코멘트 추가와 공개설정 부탁드려요!')
                        {% endif %}
                        window.location.href='/resume/{{ mentor_info.number }}/{{ time }}'

                    }
                });
            } else {
                alert(warningArray[0])
            }
        }

        function sign_out() {
            //로그아웃
            if (confirm('정말로 로그아웃 하시겠습니까?')){
                $.removeCookie('mytoken', {path: '/'});
                window.location.href="/login"
            }
        }

    </script>
    {% endblock %}

    {% block content %}
    <div style="width: 1194px; margin: 90px auto 40px auto">
    <div style="display: flex; margin-bottom: 80px">
        <div style="width: 72px;height: 72px;overflow: hidden;border-radius: 36px;border: none;">
            <img src="../../static/{{ mentor_info.profile_pic_real }}"
                 style="width:100%;height: 100%;object-fit: cover;">
        </div>
        <div style="margin-left: 30px; height: 72px;">
            <div style="display: flex;line-height: 30px">
                <div style="color: #595959;margin-bottom: 19px">{{ mentor_info.nickname }}</div>
                <div style="margin-left: 10px;line-height: 30px; width: 135px;text-align: center;font-weight: 500; height: 30px;border-radius: 15px;background: #7351E1;border: none;color: white">
                    자기소개서
                </div>
            </div>
            <p id="title" style="border: none; color: black;width: 800px;font-size: 21px;margin-right: 16px">{{ resume_info.resume_title|safe }}</p>
        </div>
    </div>
    <div style="display: flex;position: relative">
        <div style="width: 174px; margin-right: 132px;bottom:100px;">
            <div onclick="tab_to(1);$('#tab_slider').css({'height': '1320'});" id="head_1" class="head"
                 style="font-weight: 700;font-size: 24px;">기본정보 <i id="verify_tab_1" class="fa fa-check-circle-o"
                                                                   style="color: #577FF0;visibility: hidden;"
                                                                   aria-hidden="true"></i></div>
            <div onclick="tab_to(2);$('#tab_slider').css({'height': '1090'});" id="head_2" class="head">데이터 설명 <i
                    id="verify_tab_2" class="fa fa-check-circle-o" style="color: #577FF0;visibility: hidden;"
                    aria-hidden="true"></i></div>
            <div onclick="tab_to(3);$('#tab_slider').css({'height': '2330'});" id="head_3" class="head">데이터 업로드 <i
                    id="verify_tab_3" class="fa fa-check-circle-o" style="color: #577FF0;visibility: hidden;"
                    aria-hidden="true"></i></div>
            <div onclick="tab_to(4);$('#tab_slider').css({'height': '710'});" id="head_4" class="head">가격 설정 <i
                    id="verify_tab_4" class="fa fa-check-circle-o" style="color: #577FF0;visibility: hidden;"
                    aria-hidden="true"></i></div>
            <div style="margin-bottom: 70px"> <i id="verify_tab_5" class="fa fa-check-circle-o"
                                                      style="color: #577FF0;visibility: hidden;" aria-hidden="true"></i>
            </div>
            <!--            위에 일부러 onmouseenter로 그냥 css에니메이션 줘봤는데, 공개하기 버튼이 활성화 되면 저 css변화 에니메이션이 적용되도록 해줘-->
        </div>
        <div id="tab_slider" style="width: 684px; overflow: hidden; position: relative;height: 1320px;">
            <div id="tab_list" style="position: absolute;display: flex;">
                <div id="tab_1" style="width: 684px">
                    <p style="font-size: 21px; font-weight: 600">제목</p><br>
                    <div class="grey_box" style="margin-bottom: 24px">
                        <p style="font-weight: 600">TIP</p>
                        <p style="font-size: 14px;">잘 만든 제목은 조회수를 높이는 데 도움이 됩니다. 멘티들의 궁금증을 자극하는 제목을 작성해보세요!</p>
                        <li style="font-size: 14px">본인 데이터의 특징을 나타내는 키워드들을 사용해보세요.</li>
                        <li style="font-size: 14px">이 데이터를 통해 도움을 얻을 수 있을 타겟 멘티들을 드러내보세요.</li>
                        <li style="font-size: 14px">글자수는 32자로 제한됩니다.</li>
                    </div>
                    <input id="title_input" onKeypress="javascript:if(event.keyCode==13) {fill_title()}"
                           style="border: none; border-bottom: #797979 1px solid;margin-right: 10px; width: 590px; height: 24px; padding: 4px 5px"
                           type="text"
                           placeholder="데이터를 잘 표현하는 제목을 입력해주세요.">
                    <script>$('#title_input').val("{{ resume_info.resume_title|safe }}")</script>
                    <button id="title_btn" onclick="fill_title()"
                            style="cursor: pointer; width: 73px; height: 28px;border-radius: 15px;font-weight: 500; color: white;background: #577FF0;border:#577FF0 1px solid;">
                        입력
                    </button>
                    <p id="title_cnt" style="float: right;margin-right: 93px">0/32</p>

                    <p style="margin-top: 80px;font-size: 21px; font-weight: 600">합격 대학 설정</p><br>
                    <div class="grey_box" style="margin-bottom: 24px">
                        <p style="font-weight: 600">TIP</p>
                        <p style="font-size: 14px;">본 자기소개서로 입학한 대학을 아래 합격 대학에서 골라주세요.</p>
                        <li style="font-size: 14px">반드시 본 데이터로 합격한 대학을 골라주세요(따라서 수시 합격만 가능합니다).</li>
                        <li style="font-size: 14px">합격 대학을 추가하고 싶으시다면 <a
                                style="font-size: 14px; text-decoration: underline">여기</a>를 눌러주세요.
                        </li>
                        <li style="font-size: 14px">자기소개서는 대학별로 여러 데이터를 모두 판매 등록할 수 있습니다.</li>
                    </div>
                    <!--                    아래 div는 합격한 대학교 들을 불러와야 함. 아래 div에 list를 each문으로? 들어가도록 하면 좋을 듯.-->
                    <div id="accepted_list">
                        {% set n = mentorinfo_info.mentor_univ|length %}
                        {% for i in range(0,n) %}
                            {% if mentorinfo_info.mentor_univ[i] != '' %}
                                <div class="black-box" id="accepted_{{ i + 1 }}" onclick="select_univ({{ i + 1 }})">
                                    <div><span class="selected_univ">{{ mentorinfo_info.mentor_univ[i] }}</span>
                                        <span class="selected_major">{{ mentorinfo_info.mentor_major[i] }}</span>{% if mentorinfo_info.mentor_type[i] %}(<span class="selected_type">{{ mentorinfo_info.mentor_type[i] }}</span>){% endif %}
                                        <span class="selected_number">{{ mentorinfo_info.mentor_number[i] }}</span>학번
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <br><br><br>
                    <p style="font-size: 21px; font-weight: 600">판매동의</p><br>
                    <p style="line-height: 32px">레디메이트에 올라오는 모든 데이터들은 <b>개별판매/패스권 두 가지 방법으로 판매될 수 있습니다.</b><br>
                        판매자는 개별판매 또는 패스권 중 하나의 방식으로만 데이터를 판매할 수 없으며, 두 가지 판매방식 모두<br>
                        데이터에 자동 적용되어 정산됩니다.</p>
                    <br>
                    <label style="display: flex;line-height: 24px;float: right">
                        <input id="tab_1_checkbox" type="checkbox" style="zoom: 1.45">
                        <p style="line-height: 16px">&nbsp;&nbsp;&nbsp;동의합니다</p>
                    </label>

                    <br><br><br><br><br>
                    <div style="display: flex; float: right">
                        <button onclick="next_tab(1)"
                                style="cursor: pointer;font-weight: 500;width: 102px;height: 40px;border-radius: 20px;color: #577FF0;border: #577FF0 1px solid;background-color: white">
                            다음으로
                        </button>
                    </div>
                </div>
                <div id="tab_2" style="width: 684px">
                    <p style="font-size: 21px; font-weight: 600">상세 페이지</p><br>
                    <div class="grey_box" style="margin-bottom: 30px">
                        <p style="font-weight: 600">TIP</p>
                        <p style="font-size: 14px;">물건을 살 때 우리는 상세페이지를 꼼꼼히 살펴보고 구매합니다.<br>매력적인 상세페이지로 멘티들에게
                            어필하세요!</p>
                    </div>
                    <div class="grey_box" style="margin-bottom: 24px">
                        <p style="font-size: 14px;">❗상세페이지의 내용은 사실과 다르지 않아야 합니다. 판매하는 입시데이터의 내용과 사실관계가 다른 내용<br>
                            을 적거나, 과장, 허위 사실을 유도하는 암시 및 기타 ‘공문서의 부정행사(형법230조)’에 해당하는 내용을 적을<br>
                            경우 판매대금의 5배를 멘티에게 배상하여야 합니다.
                        </p>
                    </div>
                    <div id="editor-container" style="height: 550px">
                        <div id="editor">
                            {% if resume_info.resume_desc %}
                                {{ resume_info.resume_desc|safe }}
                            {% else %}
                            <span style="color:#3F61CE">*멘토님들이 쉽게 자기소개서 설명을 작성하실 수 있도록 간단한 템플릿을 준비해보았어요! 멘티들에게 이 자기소개서를 잘 알릴 수 있도록 템플릿에 맞춰서 차근차근 작성해보세요. 템플릿에 꼭 따르지 않고 멘토님만의 방법으로 자기소개서를 소개해주셔도 좋아요.</span>
                            <br><br><br>
                            <strong style="font-size:21px">이런 멘티가 보면 좋아요!</strong>
                            <br>
                            <span style="color:#3F61CE">*멘토님의 자기소개서가 크게 도움이 될 수 있는 멘티들의 특징을 나열해주세요. 멘토님의 자소서가 해결해줄 수 있는 고민을 써주시면 좋아요.</span>
                            <br>
                            <p style="color:#797979">
                                - ex) 자기소개서에 어떤 활동들을 중점적으로 써야 할 지 감이 안 잡히는 멘티<br>
                                - ex) 장래희망의 변경을 자연스럽게 녹여내고 싶은 멘티<br>
                                - ex) ‘아주 잘 쓸 필요는 없다던데..’어느정도 수준의 문장으로 써야 하는지 알고싶은 멘티<br>
                                - ex) 진심이 느껴지는 자기소개서를 쓰고 싶은 멘티<br>
                                - ex) 이 학교의 특별문항을 어떻게 썼을지 궁금한 멘티<br>
                            </p>
                            <br><br>
                            <strong style="font-size:21px">이 자기소개서를 보고 나면 이런 것들을 얻을 수 있어요.</strong>
                            <br>
                            <span style="color:#3F61CE">*위의 멘티들이 이 자기소개서를 보고 나서 얻을 수 있는 것들을 적어주세요. 멘토님의 자기소개서, 그리고 멘토님의 글쓰기만이 가지고 있는 차별점을 강조해주세요.</span>
                            <br>
                            <p style="color:#797979">
                                - ex) 자기소개서에 맞는 글쓰기 방법(주-술 구조를 맞춰서 쓰는 법)<br>
                                - ex) 활동에 따라 강약조절 하는 법<br>
                                - ex) 자기소개서에서 피해야 할 표현<br>
                                - ex) 자기소개서에 어떤 활동들을 녹여내야 하는지<br>
                                - ex) 남들과는 차별화되는 나만의 자기소개서 쓰기<br>
                            </p>
                            <br><br>
                            <strong style="font-size:21px">이 자기소개서의 특징</strong>
                            <br>
                            <span style="color:#3F61CE">*이 자소서에 엮인 이야기를 멘티에게 소개해주세요. 자소서를 처음 쓸 당시에 어떻게 시작했으며, 어떤 부분이 막막했고 어떤 방법으로 그 부분을 풀어나갔는지를 설명해주세요. 멘토님의 고민에 공감하는 멘티라면 멘토님의 자소서를 읽고 싶어질 거에요!</span>
                            <p style="color:#797979">
                                ex) 자기소개서, 막막하시죠? 저도 그랬습니다. 저는 존댓말로 써야 하는지 반말로 써야 하는지도 헷갈렸어요..ㅎㅎ
                                그래서 정신없이 사례를 모았습니다. 이미 대학 간 선배들의 자기소개서를 구해 읽었고, 수만휘와 같은 카페에 기증되는 자기소개서도 찾아 읽었습니다. 그렇게 쓴
                                자기소개서는 수십번 고쳐 썼고, 5명 이상의 선생님께 피드백을 받았어요.
                                지금 이 자기소개서는 그 지난한 시간의 결과물입니다..! 제가 터득하고 배운 자기소개서 작성법을 녹여냈어요. 제 자기소개서를 바탕으로 무엇을 강조했는지, 이
                                문장은 어떤 맥락에서 추가했는지, 어떤 생각으로 이런 표현들을 썼는지 등등 다양한 꿀팁들을 설명에 추가해 두었습니다. 멘티님들이 보시면 아마 큰 도움 얻으실
                                수 있을거예요!
                                또한 질문을 댓글과 인스타 DM으로 받고 있으니 자유롭게 연락 주세요~</p>
                            {% endif %}
                        </div>
                        <script>
                            var quill = new Quill('#editor', {
                                modules: {
                                    toolbar: [
                                        //[{header: [1, 2, false]}],
                                        ['bold', 'italic', 'underline',{'color':['#577FF0','#3EBCB0','#C657EF','#52C0E2','#E94E58']}],
                                    ]
                                },
                                theme: 'snow'
                            });
                        </script>
                    </div>

                    <br><br><br><br>

                    <div style="display: flex; float: right">
                        <button onclick="next_tab(2)"
                                style="cursor: pointer;font-weight: 500;width: 102px;height: 40px;border-radius: 20px;color: #577FF0;border: #577FF0 1px solid;background-color: white">
                            다음으로
                        </button>
                    </div>
                </div>
                <div id="tab_3" style="width: 684px">
                    <p style="font-size: 21px; font-weight: 600">자기소개서 업로드</p><br>
                    <div class="grey_box" style="margin-bottom: 30px">
                        <p style="font-weight: 600">TIP</p>
                        <p style="font-size: 14px;">자기소개서를 각 항목에 맞게 입력해주세요! 직접 입력하는 만큼 오탈자에 주의해주세요.</p>
                        <p style="font-size: 14px;">공개가 꺼려지는 신상정보, 지역명, 대회명 등이 포함되어 있다면 직접 '**' 표시로 대체해주세요.</p>
                        <p style="font-size: 14px;color: #595959">ex) 지리산 국립공원에서~ → **산 국립공원에서~</p>
                    </div>
                    <div class="grey_box" style="margin-bottom: 30px">
                        <p style="font-size: 14px;">❗자기소개서는 반드시 실제 제출한 자기소개서와 동일한 내용을 입력해주세요. 만일 사실과 다른
                            <br>자기소개서가 입력된 경우 멘티들에게 판매대금 이상을 배상하여야 합니다.</p>
                    </div>

                    <div>
                        <p style="font-weight: 600">1번 문항: 고등학교 재학기간 중 학업에 기울인 노력과 학습 경험을 통해, 배우고 느낀점을 중심으로 기술해 주시기
                            바랍니다(띄어쓰기 포함 1,000자 이내).</p>
                        <textarea id="1_textarea">{% if resume_info %}{{ resume_info.resume_number[0]|safe }}{% endif %}</textarea>
                        <p id="1_cnt" style="float: right;">0/1000</p>
                    </div>
                    <br><br><br>

                    <div>
                        <p style="font-weight: 600">2번 문항: 고등학교 재학기간 중 본인이 의미를 두고 노력했던 교내 활동(3개 이내)을 통해 배우고 느낀점
                            을 중심으로 기술해 주시기 바랍니다. 단, 교외 활동 중 학교장의 허락을 받고 참여한 활동은 포함됩니다(띄어쓰기 포함 1,000자 이내).</p>
                        <textarea id="2_textarea">{% if resume_info %}{{ resume_info.resume_number[1]|safe }}{% endif %}</textarea>
                        <p id="2_cnt" style="float: right;">0/1500</p>
                    </div>
                    <br><br><br>

                    <div>
                        <p style="font-weight: 600">3번 문항: 학교 생활 중 배려, 나눔, 협력, 갈등 관리 등을 실천한 사례를 들고, 그 과정을 통해 배우고 느낀
                            점을 기술해 주시기 바랍니다(띄어쓰기 포함 1,000자 이내).</p>
                        <textarea id="3_textarea">{% if resume_info %}{{ resume_info.resume_number[2]|safe }}{% endif %}</textarea>
                        <p id="3_cnt" style="float: right;">0/1000</p>
                    </div>
                    <br><br><br>

                    <div>
                        <p style="font-weight: 600">4번 문항: <input placeholder="문항을 입력해주세요" id="4_input" type="text"
                                                                  style="border: none; border-bottom: black 1px solid;margin-left: 8px;padding-left: 12px ;width: 610px">
                            {% if resume_info %}<script>$('#4_input').val('{{ resume_info.resume_number[3]|safe }}')</script>{% endif %}
                        </p>
                        <div style="margin: 16px auto; text-align: center;">
                            <input id="radio_1" type="radio" name="num4"><label for="radio_1">&nbsp;&nbsp;1,500자 제한</label></input>
                            <input id="radio_2" type="radio" name="num4" style="margin-left: 60px"><label for="radio_2">&nbsp;&nbsp;1,000자 제한</label></input>
                            <input id="radio_3" type="radio" name="num4" style="margin-left: 60px"><label for="radio_3">&nbsp;&nbsp;기타</label></input>
                            <input id="radio_4" type="radio" name="num4" style="margin-left: 60px"><label for="radio_4">&nbsp;&nbsp;4번 문항이 없음</label></input>
                        </div>
                    {% if resume_info %}
                        <script>
                            $('#4-input').val('{{ resume_info.resume_number[3]|safe }}')
                            $('#{{ resume_info.resume_number[4] }}').click()
                        </script>
                        {% endif %}
                        <div id="textarea_box">
                            <textarea id="4_textarea">{% if resume_info %}{{ resume_info.resume_number[5]|safe }}{% endif %}</textarea>
                            <p id="4_cnt" style="float: right;">0 자</p>
                        </div>
                    </div>
                    <br>

                    <br><br>
                    <div style="display: flex; float: right">
                        <button onclick="next_tab(3)"
                                style="cursor: pointer;font-weight: 500;width: 102px;height: 40px;border-radius: 20px;color: #577FF0;border: #577FF0 1px solid;background-color: white">
                            다음으로
                        </button>
                    </div>
                </div>
                <div id="tab_4" style="width: 684px">
                    <p style="font-size: 21px; font-weight: 600">가격</p><br>
                    <div class="grey_box" style="margin-bottom: 24px">
                        <p style="font-weight: 600">TIP</p>
                        <p style="font-size: 14px;">데이터의 적절한 가격을 설정하세요! 다른 멘토들의 가격을 참고하는 것도 도움이 됩니다.</p>
                        <li style="font-size: 14px">가격은 10,000원 이상, 999,999원 이하로 설정할 수 있습니다.</li>
                    </div>
                    <input id="price_input" type="number" max="999999" min="10000"
                           oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                           onblur="if (this.value <10000 || this.value >1000000){alert('10,000~999,999 사이의 금액을 입력해주세요');this.value=''}"
                           style="border: none;text-align: right;font-size: 18px; float: right; border-bottom: #797979 1px solid; width: 204px; height: 24px; padding: 2px 26px">
                    <script>
                        $(document).ready(function (){
                            document.getElementById('price_input').value = '{{ resume_info.resume_price }}'
                        })
                    </script>
                    <div style="position: absolute;margin-left: 664px">원</div>
                    <br><br><br><br>

                    <p style="margin-top: 80px;font-size: 21px; font-weight: 600">주의사항</p><br>
                    <div style="margin-bottom: 24px; line-height: 28px">
                        <li style="font-size: 14px">현 페이지에서 설정하는 가격은 개별 판매 시 적용되는 가격으로, 패스권을 이용한 열람 시 책정한 가격과 무관하게<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 조회수에 비례하여 수익이 지급됩니다.</li>
                        <li style="font-size: 14px">설정한 가격에서 플랫폼 수수료, 결제 수수료, 세금이 제외된 수익이 최종 지급되게 됩니다.</li>
                        <li style="font-size: 14px">제품의 가격은 한 번 결정하면 14일간 변경할 수 없습니다.</li>
                    </div>

                    <br><br>
                    <div style="display: flex; float: right">
                        <button id="save_res_post" onclick="save_res_post()"
                                style="cursor: pointer;margin-right: 20px; font-weight: 500;width: 102px;height: 40px;border-radius: 20px;color: white;border: none;background-color: #577FF0">
                            저장하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    {% endblock %}