<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="content" class="box" style="opacity: 0.85;width: 1194px;border: 1px solid #F1F1F1;border-radius: 20px;padding: 28px 30px">
        <p style="font-size: 21px;font-weight: 500;">출결상황</p>
        <p style="font-size: 14px; color: #595959">개인정보 보호를 위해 질병에 의한 결석, 지각, 조퇴는 제외되었습니다</p>
        <div id="view_1_li" style="line-height: 28px;margin-top: 14px;padding-left: 8px">

        <li class="sec_1">1111</li><li class="sec_1">1111
133132</li><li class="sec_1">1111
133132
344s4s</li></div>
        <br><br><br>

        <p style="font-size: 21px;font-weight: 500; margin-bottom: 15px">수상경력</p>
        <table id="view_2_table"><th style="width: 112px;padding: 0 8px">학년(학기)</th>
                                    <th style="width: 265px;padding: 0 8px">수상명</th>
                                    <th style="width: 137px;padding: 0 8px">등급(위)</th>
                                    <th style="width: 126px;padding: 0 8px">수상연월</th>
                                    <th style="width: 157px;padding: 0 8px">수여기관</th>
                                    <th style="width: 193px;padding: 0 8px">참가대상</th><tr>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            <td style="padding: 0 8px">1</td>
                                            </tr></table>
        <br><br><br>

        <p style="font-size: 21px;font-weight: 500; margin-bottom: 15px">자격증 및 인증 취득상황</p>
        <table id="view_3_table"><th style="width: 165px; padding: 0 8px">구분</th>
                                        <th style="width: 452px; padding: 0 8px">명칭 또는 종류</th>
                                        <th style="width: 165px; padding: 0 8px">취득연월</th>
                                        <th style="width: 207px; padding: 0 8px">발급기관</th><tr>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            <td style="padding: 0 8px">2</td>
                                            </tr></table>
        <br><br><br>

        <p style="font-size: 21px;font-weight: 500; margin-bottom: 13px">창의적 체험활동상황</p>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                1학년
            </div>
            <p style="font-weight: 600;margin-bottom: 14px">자율활동&nbsp;&nbsp;&nbsp;(<span id="view_4_1" style="color:#595959;font-weight: 400">3</span>시간)</p>
            <p id="view_4_2" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">3</p>
            <p style="font-weight: 600;margin-bottom: 14px">동아리 활동&nbsp;&nbsp;&nbsp;(<span id="view_4_3" style="color:#595959;font-weight: 400">3</span>시간)</p>
            <p id="view_4_4" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">wuuw</p>
            <p style="font-weight: 600;margin-bottom: 14px">
                &lt;자율동아리&gt;
            </p>
            <p id="view_4_5" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">3</p>
            <p style="font-weight: 600;margin-bottom: 12px">진로활동&nbsp;&nbsp;&nbsp;(<span id="view_4_6" style="color:#595959;font-weight: 400">y76</span>시간)</p>
            <div style="width: max-content;padding: 0 24px;height: 28px;border-radius: 14px;margin-bottom: 15px; color: #797979;background-color:#F1F1F1;text-align: center;line-height: 28px">
                희망분야: <span id="view_4_7" style="color: #797979">dgbbda</span>
            </div>
            <p id="view_4_8" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">dsihiuw
sduhcw
sds</p>
            <br><br>
        </div>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                2학년
            </div>
            <p style="font-weight: 600;margin-bottom: 14px">자율활동&nbsp;&nbsp;&nbsp;(<span id="view_4_9" style="color:#595959;font-weight: 400">93829</span>시간)</p>
            <p id="view_4_10" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">98</p>
            <p style="font-weight: 600;margin-bottom: 14px">동아리 활동&nbsp;&nbsp;&nbsp;(<span id="view_4_11" style="color:#595959;font-weight: 400">89</span>시간)</p>
            <p id="view_4_12" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">98</p>
            <p style="font-weight: 600;margin-bottom: 14px">
                &lt;자율동아리&gt;
            </p>
            <p id="view_4_13" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">8</p>
            <p style="font-weight: 600;margin-bottom: 12px">진로활동&nbsp;&nbsp;&nbsp;(<span id="view_4_14" style="color:#595959;font-weight: 400">9898</span>시간)</p>
            <div style="width: max-content;padding: 0 24px;height: 28px;border-radius: 14px;margin-bottom: 15px; color: #797979;background-color:#F1F1F1;text-align: center;line-height: 28px">
                희망분야: <span id="view_4_15" style="color: #797979">9898</span>
            </div>
            <p id="view_4_16" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">98</p>
            <br><br>
        </div>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                3학년
            </div>
            <p style="font-weight: 600;margin-bottom: 14px">자율활동&nbsp;&nbsp;&nbsp;(<span id="view_4_17" style="color:#595959;font-weight: 400">98</span>시간)</p>
            <p id="view_4_18" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">8989</p>
            <p style="font-weight: 600;margin-bottom: 14px">동아리 활동&nbsp;&nbsp;&nbsp;(<span id="view_4_19" style="color:#595959;font-weight: 400">89</span>시간)</p>
            <p id="view_4_20" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">998</p>
            <p style="font-weight: 600;margin-bottom: 14px">
                &lt;자율동아리&gt;
            </p>
            <p id="view_4_21" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">09</p>
            <p style="font-weight: 600;margin-bottom: 12px">진로활동&nbsp;&nbsp;&nbsp;(<span id="view_4_22" style="color:#595959;font-weight: 400">09898</span>시간)</p>
            <div style="width: max-content;padding: 0 24px;height: 28px;border-radius: 14px;margin-bottom: 15px; color: #797979;background-color:#F1F1F1;text-align: center;line-height: 28px">
                희망분야: <span id="view_4_23" style="color: #797979">89</span>
            </div>
            <p id="view_4_24" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">989</p>
            <br><br>
        </div>


        <p style="font-weight: 500; margin-bottom: 13px">봉사활동실적</p>
        <table id="view_5_table" style="border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;width: 990px;line-height: 28px;text-align: center;"><th style="width: 105px;padding: 0 8px">학년</th>
                                        <th style="width: 165px;padding: 0 8px">일자 또는 기간</th>
                                        <th style="width: 247px;padding: 0 8px">장소 또는 주관기관명</th>
                                        <th style="width: 306px;padding: 0 8px">활동내용</th>
                                        <th style="width: 68px;padding: 0 8px">시간</th>
                                        <th style="width: 98px;padding: 0 8px">누계시간</th><tr>
                                            <td style="padding: 0 8px">88009</td>
                                            <td style="padding: 0 8px">0</td>
                                            <td style="padding: 0 8px">sdsd</td>
                                            <td style="padding: 0 8px">998</td>
                                            <td style="padding: 0 8px">kjn.</td>
                                            <td style="padding: 0 8px">gyu</td>
                                            </tr></table>
        <br><br><br>

        <p style="font-size: 21px;font-weight: 500; margin-bottom: 15px">교과학습발달상황</p>
        <p style="font-weight: 500; margin-bottom: 15px">학년 전체 내신 추이</p>
        <div style="display: flex;">
            <div id="bar_list" style="color: #797979; position: relative">
                <div id="recordpaper_movingbar" style="position: absolute; z-index: -1; width: 205px; height: 33px; border-radius: 10px 0px 0px 10px; background-color: rgb(241, 241, 241); top: 66px;"></div>
                <div id="bar_1" onclick="moveto(1)" style="width: 187px; height: 33px; line-height: 33px; cursor: pointer; color: rgb(121, 121, 121);">&nbsp;&nbsp;전과목
                </div>
                <div id="bar_2" onclick="moveto(2)" style="width: 187px; height: 33px; line-height: 33px; cursor: pointer; color: rgb(121, 121, 121);">&nbsp;&nbsp;국어+수학+영어
                </div>
                <div id="bar_3" onclick="moveto(3)" style="width: 187px; height: 33px; line-height: 33px; cursor: pointer; color: black;">&nbsp;&nbsp;국어+수학+영어+과탐
                </div>
                <div id="bar_4" onclick="moveto(4)" style="width: 187px; height: 33px; line-height: 33px; cursor: pointer; color: rgb(121, 121, 121);">&nbsp;&nbsp;국어+수학+영어+사탐
                </div>
            </div>
            <div style="display: flex; background-color: #F1F1F1;border-radius: 20px; width: 800px; min-height: 479px;padding: 30px 100px 28px 34px;">
                <div style="width: 86px;margin-right: 44px;line-height: 28px">
                    <p style="font-size: 21px;margin-bottom: 12px">평균 <span id="average">6.51063829787234</span></p>
                    <p>국어 <span id="korean">6.461538461538462</span></p>
                    <p>수학 <span id="math">7.529411764705882</span></p>
                    <p>영어 <span id="english">5.529411764705882</span></p>
                    <p id="science_p" style="color: rgb(89, 89, 89);">과탐 <span id="science">5.461538461538462</span></p>
                    <p id="sociology_p" style="color: rgb(213, 213, 213);">사탐 <span id="sociology">NaN</span></p>
                </div>
                <div id="graph_box" style="width: 536px">
                    <div id="graph_comment_box_1" style="line-height: 28px;margin-top: 21px" class="is-hidden">
                        <canvas id="myChartFirst" width="1072" height="526" style="display: block; box-sizing: border-box; height: 263px; width: 536px;"></canvas>
                        <div id="graph_comment_list_1">

                        </div>
                        <div style="margin-top: 18px">
                            <textarea id="graph_comment_1" rows="2" style="resize: none; width: 536px;border: #D5D5D5 1px solid;padding: 12px 16px; border-radius: 10px;line-height: 28px" placeholder="설명을 입력하세요"></textarea>
                            <button onclick="graph_comment(1)" style="float: right; width:50px;height:28px;background-color: white; border-radius:16px;border: #577FF0 1px solid; line-height: 26px; color: #577FF0; cursor: pointer; font-weight: 500;">입력</button>
                        </div>
                    </div>
                    <div id="graph_comment_box_2" class="is-hidden" style="line-height: 28px;margin-top: 21px">
                        <canvas id="myChartSecond" width="1072" height="526" style="display: block; box-sizing: border-box; height: 263px; width: 536px;"></canvas>
                        <div id="graph_comment_list_2">

                        </div>
                        <div style="margin-top: 18px">
                            <textarea id="graph_comment_2" rows="2" style="resize: none; width: 536px;border: #D5D5D5 1px solid;padding: 12px 16px; border-radius: 10px;line-height: 28px" placeholder="설명을 입력하세요"></textarea>
                            <button onclick="graph_comment(2)" style="float: right; width:50px;height:28px;background-color: white; border-radius:16px;border: #577FF0 1px solid; line-height: 26px; color: #577FF0; cursor: pointer; font-weight: 500;">입력</button>
                        </div>
                    </div>
                    <div id="graph_comment_box_3" class="" style="line-height: 28px;margin-top: 21px">
                        <canvas id="myChartThird" width="1072" height="526" style="display: block; box-sizing: border-box; height: 263px; width: 536px;"></canvas>
                        <div id="graph_comment_list_3">

                        </div>
                        <div style="margin-top: 18px">
                            <textarea id="graph_comment_3" rows="2" style="resize: none; width: 536px;border: #D5D5D5 1px solid;padding: 12px 16px; border-radius: 10px;line-height: 28px" placeholder="설명을 입력하세요"></textarea>
                            <button onclick="graph_comment(3)" style="float: right; width:50px;height:28px;background-color: white; border-radius:16px;border: #577FF0 1px solid; line-height: 26px; color: #577FF0; cursor: pointer; font-weight: 500;">입력</button>
                        </div>
                    </div>
                    <div id="graph_comment_box_4" class="is-hidden" style="line-height: 28px;margin-top: 21px">
                        <canvas id="myChartFourth" width="1072" height="526" style="display: block; box-sizing: border-box; height: 263px; width: 536px;"></canvas>
                        <div id="graph_comment_list_4">

                        </div>
                        <div style="margin-top: 18px">
                            <textarea id="graph_comment_4" rows="2" style="resize: none; width: 536px;border: #D5D5D5 1px solid;padding: 12px 16px; border-radius: 10px;line-height: 28px" placeholder="설명을 입력하세요"></textarea>
                            <button onclick="graph_comment(4)" style="float: right; width:50px;height:28px;background-color: white; border-radius:16px;border: #577FF0 1px solid; line-height: 26px; color: #577FF0; cursor: pointer; font-weight: 500;">입력</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

        <p style="font-weight: 500; margin-bottom: 15px">상세 내신</p>
        <table id="view_6_table" style="border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;width: 990px;line-height: 28px;text-align: center;"><th style="width: 79px;padding: 0 8px">교과</th>
                                        <th style="width: 201px;padding: 0 8px">과목</th>
                                        <th style="width: 119px;padding: 0 8px">1-1</th>
                                        <th style="width: 119px;padding: 0 8px">1-2</th>
                                        <th style="width: 119px;padding: 0 8px">2-1</th>
                                        <th style="width: 119px;padding: 0 8px">2-2</th>
                                        <th style="width: 119px;padding: 0 8px">3-1</th>
                                        <th style="width: 119px;padding: 0 8px">3-2</th><tr>
                                            <td style="padding: 0 8px">국어</td>
                                            <td style="padding: 0 8px">ㅇㅇㅇ</td>
                                            <td style="padding: 0 8px">9(8)</td>
                                            <td style="padding: 0 8px">7(6)</td>
                                            <td style="padding: 0 8px">5(4)</td>
                                            <td style="padding: 0 8px">3(2)</td>
                                            <td style="padding: 0 8px">1(2)</td>
                                            <td style="padding: 0 8px">3(4)</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">수학</td>
                                            <td style="padding: 0 8px">앶아</td>
                                            <td style="padding: 0 8px">5(6)</td>
                                            <td style="padding: 0 8px">7(8)</td>
                                            <td style="padding: 0 8px">9(8)</td>
                                            <td style="padding: 0 8px">7(6)</td>
                                            <td style="padding: 0 8px">5(4)</td>
                                            <td style="padding: 0 8px">3(2)</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">영어</td>
                                            <td style="padding: 0 8px">이ㅏ능ㄹ</td>
                                            <td style="padding: 0 8px">1(2)</td>
                                            <td style="padding: 0 8px">3(4)</td>
                                            <td style="padding: 0 8px">5(6)</td>
                                            <td style="padding: 0 8px">7(8)</td>
                                            <td style="padding: 0 8px">9(8)</td>
                                            <td style="padding: 0 8px">7(6)</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">사회</td>
                                            <td style="padding: 0 8px">아ㅣ주</td>
                                            <td style="padding: 0 8px">5(4)</td>
                                            <td style="padding: 0 8px">3(2)</td>
                                            <td style="padding: 0 8px">1(2)</td>
                                            <td style="padding: 0 8px">3(4)</td>
                                            <td style="padding: 0 8px">5(6)</td>
                                            <td style="padding: 0 8px">7(8)</td>
                                            </tr><tr>
                                            <td style="padding: 0 8px">과학</td>
                                            <td style="padding: 0 8px">ㅇ잴ㅈ</td>
                                            <td style="padding: 0 8px">9(8)</td>
                                            <td style="padding: 0 8px">7(6)</td>
                                            <td style="padding: 0 8px">5(4)</td>
                                            <td style="padding: 0 8px">3(2)</td>
                                            <td style="padding: 0 8px">1(2)</td>
                                            <td style="padding: 0 8px">3(4)</td>
                                            </tr></table>
        <br><br><br>

        <p style="font-weight: 500; margin-bottom: 15px">과목별 세부특기사항</p>
        <div id="view_7_div"><div style="line-height: 28px;margin-bottom: 32px;font-weight: 400">
                                            <p style="font-weight: 600; margin-bottom: 10px">ㄴ이ㅏ</p>
                                            <p style="white-space:pre;margin-bottom: 16px">ㅐㅓㅜ(1학년) </p>
                                            <p style="white-space:pre;margin-bottom: 16px">ㅐㅡㅏㅣ(2학년) </p>
                                            <p style="white-space:pre;">ㅐ자ㅡㅐ(3학년) </p>
                                        </div><div style="line-height: 28px;margin-bottom: 32px;font-weight: 400">
                                            <p style="font-weight: 600; margin-bottom: 10px">ㅈㄷㄹㅈ</p>
                                            <p style="white-space:pre;margin-bottom: 16px">(1학년) ㄴㅇ</p>
                                            <p style="white-space:pre;margin-bottom: 16px">ㄴㅇㅊ(2학년) </p>
                                            <p style="white-space:pre;">ㄴㅇㅊㄴ(3학년) </p>
                                        </div></div>
        <br><br><br>

        <p style="font-size: 21px;font-weight: 500; margin-bottom: 13px">독서활동상황</p>
        <div id="view_8_1_div" style="line-height: 28px;padding-bottom: 21px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                1학년
            </div>
        <div style="display: flex; line-height: 20px;height: 20px">
                                        <span style="font-weight: 600;margin-bottom: 14px;height: 20px;line-height: 18px;margin-right: 8px">ㅊㄹㅈㄷ</span>
                                        <div style="color: #577FF0;width: 52px;height: 20px;line-height:18px; border-radius: 10px;text-align: center;border: #577FF0 1px solid;font-size: 14px">
                                            ㅈㄷㄹㅊㅈ
                                        </div>
                                    </div>
                                    <p style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅈㅊㅈㄷ</p><div style="display: flex; line-height: 20px;height: 20px">
                                        <span style="font-weight: 600;margin-bottom: 14px;height: 20px;line-height: 18px;margin-right: 8px">ㅇㅊㄴ</span>
                                        <div style="color: #577FF0;width: 52px;height: 20px;line-height:18px; border-radius: 10px;text-align: center;border: #577FF0 1px solid;font-size: 14px">
                                            ㅇㅊㄹㅈㄴ
                                        </div>
                                    </div>
                                    <p style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅇㄴㅇ</p></div>
        <div id="view_8_2_div" style="line-height: 28px;padding-bottom: 21px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                2학년
            </div>
        <div style="display: flex; line-height: 20px;height: 20px">
                                        <span style="font-weight: 600;margin-bottom: 14px;height: 20px;line-height: 18px;margin-right: 8px">ㄴㅇㄴㅇ</span>
                                        <div style="color: #577FF0;width: 52px;height: 20px;line-height:18px; border-radius: 10px;text-align: center;border: #577FF0 1px solid;font-size: 14px">
                                            ㅇㄴ
                                        </div>
                                    </div>
                                    <p style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅇㅈㄷㄹ</p></div>
        <div id="view_8_3_div" style="line-height: 28px;padding-bottom: 21px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                3학년
            </div>
        <div style="display: flex; line-height: 20px;height: 20px">
                                        <span style="font-weight: 600;margin-bottom: 14px;height: 20px;line-height: 18px;margin-right: 8px">ㅇㅈㅊㅈ</span>
                                        <div style="color: #577FF0;width: 52px;height: 20px;line-height:18px; border-radius: 10px;text-align: center;border: #577FF0 1px solid;font-size: 14px">
                                            ㅈㄹㄷ
                                        </div>
                                    </div>
                                    <p style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅇㅊㄴㅇ</p></div>

        <div style="display: flex">
            <div class="tooltip" style="font-size: 21px;font-weight: 500; margin-bottom: 13px">행동특성 및 종합의견&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                1학년
            </div>
            <p id="view_9_1" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㄷㅊㄹㅈㄷ</p>
        </div>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                2학년
            </div>
            <p id="view_9_2" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅈㅊㄹㅈㄷㄹㅊ</p>
        </div>
        <div style="line-height: 28px">
            <div style="width: 101px;height: 30px;border-radius: 15px;margin-bottom: 14px; background: linear-gradient(90.64deg, #55DBC2 0%, #52C0E2 100%);color: white;line-height: 30px;text-align: center;font-weight: 700">
                3학년
            </div>
            <p id="view_9_3" style="white-space:pre;width: 969px;font-weight: 400;margin-bottom: 28px">ㅈㄷㄹㅊㅈ</p>
        </div>
    </div>
</body>
</html>